// utils
@use '../../utils/selectors/activeTap' as *;


.stacked-icons {
    display: flex;
    justify-content: flex-end;
    z-index: 2;

    .icon-wrapper {
        &:not( :last-child ) {
            margin-right: -7%;
            transition: margin-right 0.25s ease;
        }
    }

    @include activeTap {
        .icon-wrapper {
            &:not( :last-child ) {
                margin-right: 0;
            }
        }
    }
}