// dependencies
@use 'sass:map';
// constants
@use '../constants/breakpoints' as *;
@use '../constants/colors' as *;


.article-layout {
    .desktop-article-wrapper,
    .mobile-article-wrapper {
        padding-top: 1.5rem;

        .desktop-article-intro,
        .mobile-article-intro {
            margin-bottom: 1.5rem;
        }
    }

    .desktop-article-wrapper {
        .desktop-article-intro {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-inline: 2vw;
        }
    }

    .mobile-article-wrapper {
        display: none;

        .article {
            border-top: 2px solid gray;
            padding-top: 1rem;
        }
    }

    /* CLASSNAMES */
    &.beemy {
        * {
            &::selection {
                background: map.get( $colors, 'blue', 1 );
    
            }
        }
    }

    &.musizi {
        * {
            &::selection {
                background: map.get( $colors, 'pink', 1 );
    
            }
        }
    }

    &.crypto-block {
        * {
            &::selection {
                background: map.get( $colors, 'green', 1 );
    
            }
        }
    }

    @media ( max-width: $breakpoint--medium ) {
        .desktop-article-wrapper {
            display: none;
        }

        .mobile-article-wrapper {
            display: block;
        }
    }
}