// constants
@use '../constants/breakpoints' as *;


.article-layout {
    .desktop-article-wrapper,
    .mobile-article-wrapper {
        padding-top: 1.5rem;
    }

    .mobile-article-wrapper {
        display: none;
    }

    @media ( max-width: $breakpoint--medium ) {
        .desktop-article-wrapper {
            display: none;
        }

        .mobile-article-wrapper {
            display: block;

            .article-intro {
                margin-bottom: 2rem;
            }

            .article {
                border-top: 2px solid gray;
                padding-top: 1rem;
            }
        }
    }
}