// constants
@use '../constants/breakpoints' as *;


.display-layout-wrapper {
    .icons-nav-footer {
        display: none;
    }

    .display-layout {
        overflow-x: hidden;
    }

    @media ( max-width: $breakpoint--medium ) {
        .icons-nav-sidebar {
            display: none;
        }

        .icons-nav-footer {
            display: block;
        }
    }

    @media ( max-width: $breakpoint--extra-large ) {
        .display-layout {
            margin-top: 3rem;

            .project-highlights {
                margin-top: 7rem;
            }
        }
    }
}