// dependencies
@use 'sass:map';
// constants
@use '../constants/colors' as *;
@use '../constants/breakpoints' as *;


.generic-layout {
    &.about-me-layout {
        .cta-links {
            display: flex;
            justify-content: center;

            .cta-link {
                display: flex;
                align-items: center;

                .svg {
                    margin-right: 0.4rem;
                }

                &:first-child {
                    margin-right: 5rem;
                    outline-color: map.get( $colors, 'pink', 2 );
                }

                &:nth-child( 2 ) {
                    outline-color: map.get( $colors, 'green', 2 );
                }
            }
        }
    }

    @media ( max-width: $breakpoint--small ) {
        &.about-me-layout {
            .cta-links {
                flex-direction: column;
                align-items: center;
    
                .cta-link {
                    &:first-child {
                        margin-right: 0;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }
}