.icons-nav-sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 3rem;
    top: 0;
    right: 0;
    padding-inline: 1.5rem;

    .nav-links-wrapper {
        margin-bottom: 11vh;
        padding-right: 2vw;

        .link-wrapper {
            margin-block: 2rem;
        }
    }
}