// dependencies
@use 'sass:map';
// constants
@use '../constants/colors' as *;
@use '../constants/breakpoints' as *;


.about-me {
    $text-width: 55vw;

    display: flex;
    min-height: calc( 100vh - 5rem );

    .text-wrapper {
        width: $text-width;

        .title {
            width: max-content;
            mix-blend-mode: multiply;
            color: #a60a31;
            background-image: -webkit-linear-gradient(45deg, #a60a31 0%,#eb46dd 21%,#d48231 80%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            &::selection {
                background: rgba( 56, 43, 240, .5 );
            }
        }

        .cta-link {
            margin-top: 3rem;
        }
    }

    .palette {
        width: 100vw - $text-width;
    }

    @media ( max-width: $breakpoint--extra-large ) {
        flex-flow: row wrap;

        .text-wrapper {
            width: 100vw;
            text-align: center;

            .title {
                margin-inline: auto;
            }
        }

        .palette {
            margin-top: 10rem;
            margin-inline: auto;
            width: 80vw;
        }
    }

    @media ( max-width: $breakpoint--medium ) {
        .palette {
            margin-top: 4rem;
        }
    }
}