.parallax-container {
    $text-width: 65%;
    $min-height: 73vh;

    min-height: $min-height;

    .parallax-wrapper {
        .top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;
        }

        .text-container {
            .text-wrapper {
                margin-bottom: 5rem;
            }
        }
    }
}