.parallax-container {
    $text-width: 65%;
    $min-height: 73vh;

    border-block: 2px solid gray;
    min-height: $min-height;

    .parallax-wrapper {
        display: flex;
        padding: 1rem 5vw;
        overflow-y: auto;
    
        .media-wrapper {
            display: flex;
            min-height: $min-height;
            justify-content: center;
            align-items: center;
            width: 100% - $text-width;
        }

        .text-container {
            width: $text-width;

            .text-wrapper {
                margin-block: auto;

                .text {
                    margin-block: 1rem;
                }
            }
        }
    }
}