.parallax-container {
    $text-width: 65%;
    $min-height: 73vh;

    min-height: $min-height;

    .parallax-wrapper {
        display: flex;
        padding: 1rem 5vw;
        overflow-y: auto;
    
        .media-wrapper {
            display: flex;
            min-height: $min-height;
            justify-content: center;
            align-items: center;
            width: 100% - $text-width;
        }

        .content-wrapper {
            width: $text-width;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1.5rem;
            }

            .text-container {
                .text-wrapper {
                    margin-bottom: 5rem;
                }
            }
        }
    }
}