.project-list {
    .projects-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .project {
            .project-preview {
                .overlay {
                    .top-strip {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 1rem;

                        .tag-list {
                            margin-left: 0.5rem;
                        }
                        
                        .stacked-icons {
                            margin-right: 0.3rem;
                        }
                    }
                }
            }
        }
    }
}