// dependencies
@use 'sass:map';
// constants
@use '../constants/breakpoints' as *;
@use '../constants/colors' as *;
// utils
@use '../utils/color/getBackgroundColors' as *;


// stagger text
// draw arrow
// fade in project highlight
.project-highlights {
    .project-wrapper {
        @include getBackgroundColors();

        position: relative;
        height: 102vh;
        overflow: hidden;

        .blob-wrapper {
            position: absolute;

            transform: translate( -50%, -50% );
        }

        .blob-text-wrapper {
            position: absolute;
            color: white;
            width: 55%;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .description {
                margin-top: 2rem;
            }
        }

        .animated-curve-arrow-icon {
            position: absolute;
        }
        
        .project-preview {
            position: absolute;

            .overlay {
                .text-wrapper {
                    .title {
                        margin-bottom: 0;
                    }
                }

                &:after {
                    transition-delay: 0.5s !important;
                }
            }
        }

        &:nth-child( 1 ) {
            .blob-wrapper {
                top: 100%;
                left: 35%;
            }

            .blob-text-wrapper {
                top: 65%;
                left: 2%;

                ::selection {
                    background: map.get( $colors, 'blue', 3 );
                }
            }

            .animated-curve-arrow-icon {
                left: 50%;
                top: 20%;
                
                transform: rotate( -90deg );
            }

            .project-preview {
                right: 7%;
            }
        }

        &:nth-child( 2 ) {
            .blob-wrapper {
                top: 20%;
                left: 30%;
            }

            .blob-text-wrapper {
                ::selection {
                    background: map.get( $colors, 'pink', 3 );
                }
            }

            .animated-curve-arrow-icon {
                bottom: 0%;
            }

            .project-preview {
                bottom: 7%;
                right: 7%;
            }
        }

        &:nth-child( 3 ) {
            .blob-wrapper {
                top: 100%;
                left: 75%;
            }

            .blob-text-wrapper {
                top: 65%;
                left: 42%;

                ::selection {
                    background: map.get( $colors, 'green', 3 );
                }
            }

            .animated-curve-arrow-icon {
                top: 65%;
                left: 80%;
            }

            .project-preview {
            }
        }

        &.animate {
            border: 2px solid black;
        }
    }

    @media ( max-width: $breakpoint--extra-large ) {
        .project-wrapper {
            &:nth-child( 1 ) {
                .blob-wrapper {
                    top: 110%;
                }

                .animated-curve-arrow-icon {
                    top: 30%;
                }
            }

            &:nth-child( 2 ) {
                .blob-wrapper {
                    top: 0;
                }
            }

            &:nth-child( 3 ) {
                
            }
        }
    }

    @media ( max-width: $breakpoint--medium ) {
        .project-wrapper {
            .blob-text-wrapper {
                .top {
                    flex-direction: column;
                    align-items: flex-start;

                    .stacked-icons {
                        justify-content: flex-start;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    @media ( max-width: $breakpoint--small ) {
        .project-wrapper {
            .blob-text-wrapper {
                width: 90%;
            }

            &:nth-child( 1 ) {
                .blob-wrapper {
                    top: 115%;
                }
            }
        }
    }

    @media( max-width: $breakpoint--extra-small ) {
        .project-wrapper {
            height: 160vh;

            &:nth-child( 1 ) {
                .blob-wrapper {
                    top: 142%;
                }

                .blob-text-wrapper {
                    top: 60%;
                    width: 100%;
                }
            }
        }
    }
}