// dependencies
@use 'sass:map';
// constants
@use '../constants/colors' as *;


.profile {
    $border-radius: 20%;

    position: relative;
    height: 30vh;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background: linear-gradient(
        to right, 
        #c8ddfa,
        #c0f0d0,
    );

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 6vh;

        .role {
            color: #525252;
        }

        .name,
        .role {
            &::selection {
                background: map.get( $colors, 'green', 3 );
            }
        }
    }

    // translateZ safari bug
    .icon-wrapper {
        $transition: 0.21s ease-in-out;

        @mixin icon-filter( $color ) {
            filter: contrast( 130% ) saturate( 110% ) drop-shadow( 0 0 5px $color );
        }

        position: absolute;
        mix-blend-mode: multiply;
        transition: transform $transition,
                    mix-blend-mode $transition;

        // vercel
        &:nth-child( 2 ) {
            top: 15%;
            left: 5%;
            transform: rotate( -15deg ) translateZ( 0 );
            @include icon-filter( #c7b830 );
        }

        // typescript
        &:nth-child( 3 ) {
            top: 50%;
            left: 81%;
            transform: rotate( 20deg ) translateZ( 0 );
            @include icon-filter( #2e5887 );
        }

        // graphql
        &:nth-child( 4 ) {
            top: 67%;
            left: 13%;
            transform: rotate( 13deg ) translateZ( 0 );
            @include icon-filter( #a1429c );
        }

        // mongodb
        &:nth-child( 5 ) {
            top: 18%;
            left: 90%;
            transform: translateZ( 0 );
            @include icon-filter( #41752e );
        }

        // sass
        &:nth-child( 6 ) {
            position: absolute;
            top: 8%;
            left: 55%;
            transform: rotate( 10deg ) translateZ( 0 );
            @include icon-filter( #593382 );
        }

        // react
        &:nth-child( 7 ) {
            position: absolute;
            top: 16%;
            left: 35%;
            transform: translateZ( 0 );
            @include icon-filter( #3487a8 );
        }

        &:hover {
            mix-blend-mode: normal;
            transform: translateY( -4px ) translateZ( 0 );
        }
    }
}