// dependencies
@use 'sass:map';
// constants
@use '../constants/breakpoints' as *;
@use '../constants/colors' as *;
// utils
@use '../utils/color/getBackgroundColors' as *;


// stagger text
// draw arrow
// fade in project highlight
.project-highlights {
    width: 100vw;

    .project-wrapper {
        @include getBackgroundColors();

        position: relative;
        height: 102vh;
        overflow: hidden;

        .content-wrapper {
            position: absolute;
            width: 50rem;
            max-width: calc( 100vw - 4rem );

            .blob-wrapper {
                position: absolute;
                z-index: -1;

                transform: translate( -50%, -50% );
            }
    
            .blob-text-wrapper {
                color: white;
    
                .top {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
    
                .description {
                    margin-top: 2rem;
                }
            }
        }

        .animated-curve-arrow-icon {
            position: absolute;
            z-index: -1;
        }
        
        .project-preview {
            position: absolute;

            .overlay {
                .text-wrapper {
                    .title {
                        margin-bottom: 0;
                    }
                }

                &:after {
                    transition-delay: 0.5s !important;
                }
            }
        }

        /* CHILDREN */
        &:nth-child( 1 ) {
            .content-wrapper {
                bottom: 10%;
                left: 2rem;

                .blob-wrapper {
                    top: 150%;
                    left: 30rem;
                }

                .blob-text-wrapper {
                    ::selection {
                        background: map.get( $colors, 'blue', 3 );
                    }
                }
            }

            .animated-curve-arrow-icon {
                left: 50%;
                top: 20%;
                
                transform: rotate( -90deg );
            }

            .project-preview {
                right: 7%;
            }
        }

        &:nth-child( 2 ) {
            .content-wrapper {
                .blob-wrapper {
                    top: 22%;
                    left: 62.1%;
                }

                .blob-text-wrapper {
                    ::selection {
                        background: map.get( $colors, 'pink', 3 );
                    }
                }
            }

            .animated-curve-arrow-icon {
                top: -28%;
                right: 15%;
            }

            .project-preview {
                bottom: 7%;
                right: 7%;
            }
        }

        &:nth-child( 3 ) {
            .content-wrapper {
                bottom: 5rem;
                right: 2rem;

                .blob-wrapper {
                    top: 140%;
                    left: 65%;
                }

                .blob-text-wrapper {
                    ::selection {
                        background: map.get( $colors, 'green', 3 );
                    }
                }
            }

            .animated-curve-arrow-icon {
                top: -35%;
                left: 7%;

                transform: rotate( 180deg );
                // top: 65%;
                // left: -5%;
            }
        }

        &.animate {
            border: 2px solid black;
        }
    }

    @media ( max-width: $breakpoint--extra-large ) {
        .project-wrapper {
            &:nth-child( 1 ) {
                .blob-wrapper {
                    top: 110%;
                }

                .animated-curve-arrow-icon {
                    top: 30%;
                }
            }

            &:nth-child( 2 ) {
                .blob-wrapper {
                    top: 0;
                }

                .animated-curve-arrow-icon {
                    bottom: -10%;
                    right: 25%;
                }
            }

            &:nth-child( 3 ) {
                
            }
        }
    }

    @media ( max-width: $breakpoint--large ) {
        .project-wrapper {
            .content-wrapper {

            }

            .blob-text-wrapper {
                width: 70%;

                .top {
                    flex-direction: column;
                    align-items: flex-start;

                    .stacked-icons {
                        justify-content: flex-start;
                        margin-top: 1rem;
                    }
                }
            }

            .animated-curve-arrow-icon {
                display: none;
            }
        }
    }

    @media ( max-width: $breakpoint--small ) {
        .project-wrapper {
            .blob-text-wrapper {
                width: 90%;
            }

            &:nth-child( 1 ) {
                .blob-wrapper {
                    top: 115%;
                }
            }
        }
    }

    @media( max-width: $breakpoint--extra-small ) {
        .project-wrapper {
            height: 160vh;

            &:nth-child( 1 ) {
                .blob-wrapper {
                    top: 142%;
                }

                .blob-text-wrapper {
                    top: 60%;
                    width: 100%;
                }
            }
        }
    }
}