.experience {
    .title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .company-logo {
            margin-right: 4rem;
        }
    }

    .bullets {
        list-style: inside;
    }
}