.tags-icons {
    position: relative;

    .svg {
        position: absolute;

        &:nth-child( 1 ) {
            left: 50%;
            bottom: 0;
        }

        &:nth-child( 2 ) {
            left: 30%;
            bottom: 0;
        }
        
        &:nth-child( 3 ) {
            left: 70%;
            bottom: 0;
        }

        &:nth-child( 4 ) {
            left: 50%;
            bottom: 0;
        }
    }
}