.tooltip-wrapper {
    $transition: 0.21s ease;
    $background: #edeae1;

    position: absolute;
    padding: 5px 8px;
    background: $background;
    border-radius: 7px;

    transform: translate( -50%, -50% );
    transition: opacity $transition,
                visibility $transition,
                transform $transition;

    &.not-active {
        opacity: 0;
        visibility: hidden;
    }

    .tooltip {
        $pointer-size: 8px;

        display: flex;
        position: relative;

        .pointer {
            position: absolute;
            transform: translate( -50%, -50% );

            &.top {
                left: 50%;
                top: calc( 100% + $pointer-size );

                border-left: $pointer-size solid transparent;
                border-right: $pointer-size solid transparent;
                border-top: $pointer-size solid $background;
            }

            &.bottom {
                left: 50%;
                top: -$pointer-size;

                border-left: $pointer-size solid transparent;
                border-right: $pointer-size solid transparent;
                
                border-bottom: $pointer-size solid $background;
            }

            &.left {
                left: calc( 100% + $pointer-size );
                top: 50%;

                border-top: $pointer-size solid transparent;
                border-bottom: $pointer-size solid transparent;
                
                border-left: $pointer-size solid $background;
            }

            &.right {
                top: 50%;
                left: -$pointer-size;

                border-top: $pointer-size solid transparent;
                border-bottom: $pointer-size solid transparent; 
                
                border-right:$pointer-size solid $background; 
            }
        }
    }

    /* POSITION */
    &.top {
        transform-origin: bottom;
    }

    &.bottom {
        transform-origin: top;
    }

    &.right {
        transform-origin: left;
    }

    &.left {
        transform-origin: right;
    }

    &.top,
    &.bottom {
        &.not-active {
            transform: scaleY( 0.8 )
                        translate( -50%, -50% );
        }
    }

    &.right,
    &.left {
        &.not-active {
            transform: scaleX( 0.8 )
                        translate( -50%, -50% );
        }
    }
}