// dependencies
@use 'sass:list';
@use 'sass:math';

/*--------------------------------------------------------------
# Font Family
--------------------------------------------------------------*/
@font-face {
    font-family: "PaytoneOne";
    src: url("/static/fonts/paytone-one/PaytoneOne-Regular.ttf");
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: "VarelaRound";
    src: url("/static/fonts/valera-round/VarelaRound-Regular.ttf");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Questrial";
    src: url("/static/fonts/questrial/Questrial-Regular.ttf");
    font-style: normal;
    font-display: swap;
}

/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
$h1-size: ( 2.6em, 3.3vw, 3.3em );
$header-tags: ( 'h1', 'h2', 'h3', 'h4', 'h5', 'h6' );
$header-scale: 0.95; // how much each subsequent header will decrease in size

$paragraph-size: ( 1em, 1.18vw, 1.2em );
$text-classnames: ( 'text--xlg', 'text--lg', 'text--norm', 'text--sm', 'text--xs', 'text--xxs', 'text--xxxs' );
$text-scale: 0.95; // how much each subsequent text classname will decrease in size

/*--------------------------------------------------------------
# Styling
--------------------------------------------------------------*/
// headers
$header-size: $h1-size;
@each $header-tag in $header-tags {
    $min: list.nth( $header-size, 1 );
    $default: list.nth( $header-size, 2 );
    $max: list.nth( $header-size, 3 );
    
    $font-size: clamp( $min, $default, $max );
    #{$header-tag} {
        font-size: $font-size;
        font-family: Questrial;
        line-height: 120%;
        margin-block: 3rem;
    }

    .#{$header-tag} {
        font-size: $font-size;
    }

    $header-size: (
        $min * $header-scale,
        $default * $header-scale,
        $max * $header-scale,
    );
}

// paragraphs
p {
    $min: list.nth( $paragraph-size, 1 );
    $default: list.nth( $paragraph-size, 2 );
    $max: list.nth( $paragraph-size, 3 );

    font-size: clamp( $min, $default, $max );
}

$text-size: (
    list.nth( $paragraph-size, 1 ) * math.pow( ( 2.04 - $text-scale ), 2 ),
    list.nth( $paragraph-size, 2 ) * math.pow( ( 2.04 - $text-scale ), 2 ),
    list.nth( $paragraph-size, 3 ) * math.pow( ( 2.04 - $text-scale ), 2 ),
);
@each $text-class in $text-classnames {
    $min: list.nth( $text-size, 1 );
    $default: list.nth( $text-size, 2 );
    $max: list.nth( $text-size, 3 );
    
    .#{$text-class} {
        font-size: clamp( $min, $default, $max );
    }

    $text-size: (
        $min * $text-scale,
        $default * $text-scale,
        $max * $text-scale,
    );
}

/*--------------------------------------------------------------
# Helper
--------------------------------------------------------------*/
.project-heading {
    font-family: PaytoneOne;
}

.big-heading {
    font-size: clamp( 2.8em, 3.8vw, 4.5em );
}