// dependencies
@use 'sass:map';
@use 'sass:color';
// constants 
@use '../../constants/colors' as *;
// utils
@use '../../utils/color/getBackgroundColors' as *;
@use '../../utils/selectors/tap' as *;


.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 30%;

    &.background {
        $size: 3rem;

        @include getBackgroundColors();
        width: $size;
        height: $size;
        border-radius: 50%;
    }

    &.fill {
        $size: 2.5rem;
        $transition: 0.21s ease;

        width: $size;
        height: $size;
        
        transition: background-color $transition,
                    border-radius $transition;

        &.active {
            @include getBackgroundColors();
            border-radius: 50%;
        }

        &:hover {
            &.not-active {
                border-radius: 50%;
    
                @each $color, $color-map in $colors {
                    &.#{$color} {
                        background: color.adjust( map.get( $color-map, 1 ), $alpha: -0.3 );
                        mix-blend-mode: multiply;
                    }
                }
            }
        }
    }

    &.pop-out {
        transition: transform 0.19s ease;

        @include tap {
            transform: translate( 1px, 1px );
        }
    }
}